
body{
  background-color: 	#cdcdcd;
}
img{
    width:300px;
    border-radius:20px;
    float:right;
}



div.elem-group {
   margin: 20px 0;
}



label {
  display: block;
  font-family: 'Nanum Gothic';
  padding-bottom: 10px;
  font-size: 1.25em;
}

input, select, textarea {
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  width: 50%;
  padding: 10px;
}

div.elem-group.inlined input {
  width: 30%%;
  display: inline-block;
}

textarea {
  height: 250px;
}

hr {
  border: 1px dotted #ccc;
}

button {
  height: 50px;
  background: orange;
  border: none;
  color: white;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  border-radius: 4px;
  cursor: pointer;
}
#message{
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  width: 70%;
  padding: 10px;
}

button:hover {
  border: 2px solid black;
}


.topnav {
  background-color: white;
  overflow: hidden;

}

.topnav a {
  float: right;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  float:left;
  background-color:white;
  color: black;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.container{
  display:flex;
 justify-content: center;
 flex-direction: column;
 float:right;
  
  
}
